html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
  background-color: #9c9c9c; }

.wrapper {
  display: flex;
  justify-content: space-evenly;
  background: #f8f8f8;
  border: solid black 3px;
  max-width: 700px;
  width: 100%;
  padding: 32px; }

[data-tooltip] {
  position: relative; }
  [data-tooltip]:before {
    content: none;
    background-color: #9c9c9c;
    color: white;
    padding: 4px 10px;
    position: absolute;
    white-space: nowrap;
    left: 50%; }
  [data-tooltip]:after {
    content: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #9c9c9c;
    position: absolute; }
  [data-tooltip]:hover:before {
    content: attr(data-tooltip); }
  [data-tooltip]:hover:after {
    content: ''; }
  [data-tooltip].tooltip-top:before {
    top: -10px;
    transform: translate(-50%, -100%); }
  [data-tooltip].tooltip-top:after {
    top: -5px;
    transform: translate(-50%, -100%) rotate(-45deg); }
  [data-tooltip].tooltip-bottom:before {
    bottom: -10px;
    transform: translate(-50%, 100%); }
  [data-tooltip].tooltip-bottom:after {
    bottom: -5px;
    transform: translate(-50%, 100%) rotate(-45deg); }
  [data-tooltip].tooltip-left:before {
    top: 0;
    left: 0;
    transform: translateX(-110%); }
  [data-tooltip].tooltip-left:after {
    top: 10px;
    left: 0;
    transform: translateX(-150%) rotate(-45deg); }
  [data-tooltip].tooltip-right:before {
    top: 0px;
    transform: translateX(46%); }
  [data-tooltip].tooltip-right:after {
    top: 10px;
    left: 68px;
    transform: rotate(-45deg); }
