html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

$tooltip-color: #9c9c9c;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 16px;
    background-color: $tooltip-color;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    background: #f8f8f8;
    border: solid black 3px;
    max-width: 700px;
    width: 100%;
    padding: 32px;
}

[data-tooltip] {
    position: relative;
  
    &:before {
      content: none;
      background-color: $tooltip-color;
      color: white;
      padding: 4px 10px;
      position: absolute;
      white-space: nowrap;
      left: 50%;
    }
  
    &:after {
      content: none;
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: $tooltip-color;
      position: absolute;
    }
  
    &:hover {
      &:before {
        content: attr(data-tooltip);
      }
      &:after {
        content: '';
      }
    }
  
    &.tooltip-top {
      &:before {
        top: -10px;
        transform: translate(-50%, -100%);
      }
      &:after {
        top: -5px;
        transform: translate(-50%, -100%) rotate(-45deg);
      }
    }
  
    &.tooltip-bottom {
      &:before {
        bottom: -10px;
        transform: translate(-50%, 100%);
      }
      &:after {
        bottom: -5px;
        transform: translate(-50%, 100%) rotate(-45deg);
      }
    }
    &.tooltip-left {
        &:before {
          top: 0;
          left: 0;
          transform: translateX(-110%);
        }
        &:after {
          top: 10px;
          left: 0;
          transform: translateX(-150%) rotate(-45deg);
        }
      }
      &.tooltip-right {
        &:before {
          top: 0px;
          transform: translateX(46%);
        }
        &:after {
          top: 10px;
          left: 68px;
          transform: rotate(-45deg);
        }
      }
  }